<div class="wrapper">
    <!-- <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          
          <a class="sidebar-brand" routerLink="/">
            
            <img class="img-home" src="../../../../assets/template/img/photos/logo_chikitines.jpg" alt="">
          </a>     
    
          <ul class="sidebar-nav">
            <li class="sidebar-header">
              Registros
            </li>
    
            <li class="sidebar-item active">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-list"></i> <span class="align-middle">Categorias</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-paperclip"></i> <span class="align-middle">Tipo Cliente</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-user"></i> <span class="align-middle">Clientes</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#"  routerLink="/productos">
                <i class="fa-brands fa-product-hunt"></i> <span class="align-middle">Productos</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-user-gear"></i> <span class="align-middle">Trabajadores</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-building-circle-check"></i> <span class="align-middle">Proveedores</span>
              </a>
            </li>
    
            
    
            <li class="sidebar-header">
              Procesos
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-list-check"></i> <span class="align-middle">Compras</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Almacen</span>
              </a>
            </li>
    
            <li class="sidebar-item">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-cart-arrow-down"></i> <span class="align-middle">Ventas</span>
              </a>
            </li>
          </ul>
        
        </div>
      </nav> -->
  
    <div class="main">
       <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
              <i class="hamburger align-self-center"></i>
            </a>
  
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-align">
  
            <!-- <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                       <i class="align-middle" data-feather="settings"></i> 
                    </a>
  
              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <img src="/assets/template/img/photos/user.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
              </a>
  
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li> -->
          </ul>
        </div>
      </nav> 
  
      <main class="content">
        <div class="container-fluid p-0">
            <!-- <app-producto-list></app-producto-list> -->
            <router-outlet></router-outlet>
        </div>				
      </main>
          
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-start">
              <p class="mb-0">
                <a class="text-muted" href="#" target="_blank"><strong>CHIKITINES S.A.C</strong></a> by <a class="text-muted" href="" target="_blank"><strong>Mishael Rojas Valiente</strong></a>								&copy;
              </p>
            </div>
  
          </div>
        </div>
      </footer>
    </div>
  </div>
