
<div class="wrapper" >
  <nav id="sidebar" class="sidebar" style="background-color: white !important;">
    <div class="sidebar-content" style="background-color: white !important;">
      <a class="sidebar-brand" routerLink="/" style="background-color: white !important;">
        <img class="img-home" src="../../../../assets/template/img/photos/logo_chikitines.jpg" alt="">
      </a>  
      <ul class="sidebar-nav" style="color: black;">
        <li class="sidebar-header" style="color: black;">
          <b>Registros</b>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/categorias" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-list" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Categorias</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/tipo-cliente" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-paperclip" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Tipo Cliente</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/clientes" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-user" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Clientes</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/productos" style="background-color: white !important; color: black;">
            <i class="fa-brands fa-product-hunt" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Productos</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/trabajadores" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-user-gear" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Trabajadores</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/proveedores" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-building-circle-check" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Proveedores</span>
          </a>
        </li>
  
        <li class="sidebar-header" style="background-color: white !important; color: black;">
          <b>Procesos</b>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/compras" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-list-check" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Compras</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/almacen" style="background-color: white !important; color: black;">
            <i class="fa-brands fa-dropbox" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Almacen</span>
          </a>
        </li>
  
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/ventas" style="background-color: white !important; color: black;">
            <i class="fa-solid fa-cart-arrow-down" style="background-color: white !important; color: black;"></i> 
            <span class="align-middle">Ventas</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  

  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle ">
        <i class="hamburger align-self-center"></i>
      </a>

<!--       <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
              <i class="align-middle" data-feather="settings"></i>
            </a>

            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
              <img src="/assets/template/img/photos/user.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> 
              <span class="text-dark"> &nbsp;<b>Nombre Usuario</b></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" routerLink="/perfil"><i class="align-middle me-1" data-feather="user"></i> Mi perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/configuracion"><i class="align-middle me-1" data-feather="settings"></i> Configuración</a>
              <a class="dropdown-item" routerLink="/salir"><i class="align-middle me-1" data-feather="settings"></i> Salir</a>
            </div>
          </li>
        </ul>
      </div>  -->
    </nav>

    <main class="content">
      <div class="container-fluid p-0">
        <router-outlet></router-outlet>
      </div>
    </main>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row text-muted">
          <div class="col-6 text-start">
            <p class="mb-0">
              <a class="text-muted" href="#" target="_blank"><strong>CHIKITINES S.A.C</strong></a> 
              by <a class="text-muted" href="https://github.com/MishaelRojasV" target="_blank"><strong>Mishael Rojas Valiente</strong></a> &copy;
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
