<div class="container-fluid p-0">
 
  <a class="btn btn-primary float-end mt-n1" [routerLink]="['/crear-producto']"><i class="fas fa-plus"></i> NUEVO</a>

  <div class="mb-3">
    <h1 class="h3 d-inline align-middle"><b>LISTADO DE PRODUCTOS</b></h1>
  </div>

  <div class="card">
 
    <table class="table table-hover">
      <thead m-2>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCIÓN</th>
          <th>STOCK</th>
          <th>TIPO</th>
          <th>PRECIO</th>
          <th>ESTADO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
          @for(product of products; track product.id){
            <tr>
              <td>{{product.id }}</td>
              <td>{{product.nombre}}</td>
              <td>{{product.descripcion}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.tipo}}</td>
              <td>$$</td>
              <td>Activo|Inactivo</td>
              <td class="buttons" style="display: flex;  justify-items: space-around;">
                <a class="mx-3" href="#" [routerLink]="['/editar-producto',product.id]"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                <a href="#"><i class="fa-solid fa-trash fa-xl" style="color: #d72828;"></i></a>
              </td> 
            </tr>
          }    
      </tbody>
    </table>
  </div>


</div>





